In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSV from Kaggle.com into a DataFrame

In [2]:
#create df for kaggle dataset 'ElectricCarData_Clean.csv'
ev_csv_file = "Resources/ElectricCarData_Clean.csv"
ev_csv_df = pd.read_csv(ev_csv_file)
ev_csv_df.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

### Transform ev_csv DataFrame

In [4]:
#CSV: convert km to miles on cols: Top_Speed, Range_Km
top_speed = []
for x in ev_csv_df['TopSpeed_KmH']:
    mph = round(ev_csv_df['TopSpeed_KmH'] * 0.6214, 0)
    top_speed.append(mph)
    
top_speed = pd.DataFrame(top_speed[1])
ev_csv_df['Top_speed_mph'] = top_speed

range_df = []
for y in ev_csv_df['Range_Km']:
    mph2 = round(ev_csv_df['Range_Km'] * 0.6214, 0)
    range_df.append(mph2)
    
range_df = pd.DataFrame(range_df[1])
ev_csv_df['Range_miles'] = range_df
ev_csv_df.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro,Top_speed_mph,Range_miles
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480,145.0,280.0
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000,99.0,168.0
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440,130.0,249.0
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040,112.0,224.0
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997,90.0,106.0

In [5]:
# Create a filtered dataframe from specific columns
ev_csv_cols = ["Brand", "Model", "PowerTrain", 'BodyStyle', 'Seats', "PlugType", "Top_speed_mph", "Range_miles", "AccelSec"]
ev_csv_transformed= ev_csv_df[ev_csv_cols].copy()

# Rename the column headers
ev_csv_transformed = ev_csv_transformed.rename(columns={"Brand": "Make",
                                                          "Top_speed_mph": "TopSpeed_mph"})
ev_csv_transformed.head()

,Make,Model,PowerTrain,BodyStyle,Seats,PlugType,TopSpeed_mph,Range_miles,AccelSec
0,Tesla,Model 3 Long Range Dual Motor,AWD,Sedan,5,Type 2 CCS,145.0,280.0,4.6
1,Volkswagen,ID.3 Pure,RWD,Hatchback,5,Type 2 CCS,99.0,168.0,10.0
2,Polestar,2,AWD,Liftback,5,Type 2 CCS,130.0,249.0,4.7
3,BMW,iX3,RWD,SUV,5,Type 2 CCS,112.0,224.0,6.8
4,Honda,e,RWD,Hatchback,4,Type 2 CCS,90.0,106.0,9.5

In [6]:
ev_csv_transformed.to_csv(r'ev_csv_transformed.csv', index = False)

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

### Load DataFrames into database

In [ ]:
ev_price_transformed.to_sql(name='ev_price', con=engine, if_exists='append', index=True)